/* Measurement Units*/
.up{
    font-size: 30px;
   /*colors*/
    color: rgb(64, 95, 182);
      /* background color*/
    background-color: sandybrown;
      /* fonts family*/
    font-family: Arial, Helvetica, sans-serif;
}
.upp{
    font-size: 3em;
    color:red;
         /* css text */
    letter-spacing:5px;
    
}
/* image style*/
img{
    width: 300px; height: 150px;
    border: 3px solid crimson;
/*link style*/
}
a:link {
    background-color: yellow;
  }
  
  a:visited {
    background-color: cyan;
  }
  
  a:hover {
    background-color: lightgreen;
  }
  
  a:active {
    background-color: hotpink;
  } 
  table, td, th {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
 }  